@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  padding: 2rem;
  background-color: rgba(1, 1, 1, 0.5);
  border: 1px solid rgba(1, 1, 1, 0.5);
  border-radius: 50%;
  font-size: 16px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  background-color: black !important;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

@media (max-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.gradient-text {
  background: linear-gradient(to right, #535050, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundImage {
  background-image: url("../components/Card/images/1990f9db-9d46-4bc2-acc2-f006548f8d00.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textColor {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #017e486e;
  transition: -webkit-text-stroke-color 0.3s ease;
}

.textColor:hover {
  -webkit-text-stroke-color: #017e48;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9f6f1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h3-dot::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* Equivalent to 18px border-radius for a circle */
  background-color: #017e48;
  margin-right: 10px;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}