@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient-text {
  background: linear-gradient(to right, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundImage {
  background-image: url('../components/Card/images/1990f9db-9d46-4bc2-acc2-f006548f8d00.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textColor {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 216, 125);
  transition: -webkit-text-stroke-color 0.3s ease;
}

.textColor:hover {
  -webkit-text-stroke-color: rgb(220, 154, 0);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9f6f1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h3-dot::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* Equivalent to 18px border-radius for a circle */
  background-color: #017e48;
  margin-right: 10px;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}